# Gradle
.gradle/
build/
**/build/

# Android / IDE
*.iml
.idea/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/
domain/bin/

# Signing / secrets
*.jks
*.keystore
keystore.properties
secrets.properties


# Signing / secrets
*.jks
*.keystore
keystore.properties
secrets.properties

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp

# Ignore md files except README
*.md
!README.md

# Ignore kiro
.kiro/
